---
extends:
  # We're manually approximating `configurations/es5-node` with these
  # _local_ imports (since `defaults/` prefix assumes npm-installed).
  - "./rules/eslint/best-practices/on.js"
  - "./rules/eslint/errors/on.js"
  - "./rules/eslint/es6/off.js"
  - "./rules/eslint/node/off.js"
  - "./rules/eslint/strict/on.js"
  - "./rules/eslint/style/on.js"
  - "./rules/eslint/variables/on.js"
  - "./rules/filenames/on.js"
  - "./rules/eslint/node/on.js"

parserOptions:
  ecmaVersion: 5
  sourceType: "script"
  ecmaFeatures: {}

env:
  amd: true
  node: true

globals:
  module: false
  process: false

rules:
  "strict": [2, "global"]
  "no-magic-numbers": 0     # Magic numbers _define_ the rule settings.
  "max-len": 0              # Bias towards comments / rules on _one line_
